.file-hint {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    font-style: italic;
    background-color: #f8f9fa;
    padding: 5px 8px;
    border-radius: 4px;
    border-left: 3px solid var( --table-header);
}

.modal {
    top: 50px !important;
}

.modal-content {
    margin-top: 50px !important;
} 